$enable-dark-mode: false;
$enable-shadows: true;

$container-max-widths: (
  xs: 540px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1140px,
  xxl: 1440px,
);

$container-padding-x: 2rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

$font-size-base: 1rem; // Assumes the browse, typically `16px`

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$bg-border-radius: 6rem;
// Colors:

//CTA
$cta: #ff7a85;
$primary: #ff525d;
$white: #ffffff;
$black: #000000;
//HEADINGS
$secondary: #1f3f5b;
$text: #4b5862;

//text

// white is defined
$cta-hover: #ff7a85;

$font-weight-light: 300;
$font-weight-base: $font-weight-light;
$line-height-base: 2;

$font-family-base: "Ubuntu", sans-serif;
$font-family-code: "Overpass", sans-serif;

$headings-color: $secondary;
$headings-font-family: "Overpass", sans-serif;

$navbar-light-color: rgba(white, 0.65);
$navbar-light-hover-color: rgba(white, 1);
$navbar-light-active-color: white;

$nav-link-color: #cccccc;
$nav-link-hover-color: $white;

$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

$dropdown-border-width: 0;
$dropdown-box-shadow: $box-shadow;

$btn-border-width: 0.2rem;
// $btn-border-width:
