$enable-dark-mode: false;

$container-max-widths: (
  xs: 540px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1140px,
  xxl: 1200px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 7.5,
  9: $spacer * 9,
);

// Colors:

//CTA
$cta: #ff7a85;
$primary: #ff525d;
$white: #ffffff;

//HEADINGS
$secondary: #1f3f5b;
$text: #4b5862;

//text

// white is defined
$cta-hover: #ff7a85;

$font-weight-light: 300;
$font-weight-base: $font-weight-light;
$line-height-base: 2;

$font-family-base: "Ubuntu", sans-serif;
$font-family-code: "Overpass", sans-serif;

$headings-color: $secondary;
$headings-font-family: "Overpass", sans-serif;

$navbar-light-color: rgba(white, 0.65);
$navbar-light-hover-color: rgba(white, 1);

$nav-link-color: #cccccc;
$nav-link-hover-color: $white;
