// Custom code

// -----------------------------------------------------------------
// expand cotent to full height
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p {
  color: $text;
}
// -----------------------------------------------------------------
// background under header and hero - red
.bg-intro {
  background-image: url("/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(120deg, rgba(255, 157, 112, 1) 0%, rgba(255, 82, 93, 1) 50%);
  background-position: 35% 35%;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 0 0 0 calc($bg-border-radius / 6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9d70",endColorstr="#ff525d",GradientType=1);
  @include media-breakpoint-up(md) {
    background-size: auto;
    border-radius: 0 0 0 $bg-border-radius;
    background-position: 35% 50%;
    background-image: url("/images/bg-pattern-intro-desktop.svg"),
      linear-gradient(
        45deg,
        rgba(255, 157, 112, 1) 0%,
        rgba(255, 82, 93, 1) 54%
      );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9d70",endColorstr="#ff525d",GradientType=1);
  }
}

// background section - phones - dark blue
// .bg-section {
//   background-image: url("/images/bg-pattern-circles.svg"),
//     linear-gradient(120deg, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 66%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c2d3f",endColorstr="#3f4164",GradientType=1);
//   border-radius: 0 $bg-border-radius 0 $bg-border-radius;
//   background-repeat: no-repeat;
//   background-size: 150%;
//   background-position: 50% -250%;
//   @include media-breakpoint-up(sm) {
//     background-size: auto;
//     background-position: -20% 80%;
//   }
// }

// section footer - dark blue
.bg-footer {
  background-color: #25252d;
  border-radius: 0 calc($bg-border-radius / 6) calc($bg-border-radius / 6) 0;
  @include media-breakpoint-up(md) {
    border-radius: 0 $bg-border-radius 0 0;
  }
}

// btns
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #ff7a85;
  --bs-btn-bg: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #ff7a85;
  --bs-btn-hover-border-color: #ff7a85;
  --bs-btn-focus-shadow-rgb: #ff7a85;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(#ff7a85, 20%)};
  --bs-btn-active-border-color: #{shade-color(#ff7a85, 20%)};
  border-radius: $border-radius-pill;
  box-shadow: none;
}

.btn-light {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #ff7a85;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: #ff7a85;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($cta, 20%)};
  --bs-btn-active-border-color: #{shade-color($cta, 20%)};
  border-radius: $border-radius-pill;
  box-shadow: none;
}

.btn-light-transparent {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #ff7a85;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: #ff7a85;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($cta, 20%)};
  --bs-btn-active-border-color: #{shade-color($cta, 20%)};
  border-radius: $border-radius-pill;
  box-shadow: none;
}

.nav-link {
  text-decoration: none;
  &.show {
    color: white;
  }
  &:hover {
    text-decoration: underline;
    color: white;
  }
}
//new dropdown toggle

.dropdown-toggle::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin: -0.3em 0 0 0.4em;
  vertical-align: middle;
  content: "";
  border: 0.3em solid;
  border-width: 0 0.15em 0.15em 0;
  transform: rotateZ(45deg);
}

.dropdown-item {
  font-weight: $font-weight-light;
  &:hover {
    font-weight: $font-weight-bold;
    background-color: tra;
  }
}

.special-div {
  position: absolute;
  bottom: 0;
  z-index: -100;
  width: 100%;
  height: 55%;
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-radius: 0 100px 0 100px;
  overflow: hidden;
  height: 75%;
  @include media-breakpoint-up(lg) {
    height: 60%;
    bottom: 15%;
    transform: translateY(-15%);
  }
}

.cover {
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -200px -550px;
}

.img-translate-start {
  // translate: 0;
  width: 100%;
  min-width: initial;
  height: auto;
  @include media-breakpoint-up(md) {
    width: auto;
    min-width: 100%;
    translate: -50%;
  }
}

.img-translate-end {
  // translate: 0;
  width: 100%;
  min-width: initial;
  height: auto;
  @include media-breakpoint-up(md) {
    width: auto;
    min-width: 100%;
    translate: 10%;
  }
}

// -----------------------------------------------------------------

// Illustration display depending on screen size
.editor {
  content: url("/images/illustration-editor-mobile.svg");
  @include media-breakpoint-up(md) {
    content: url("/images/illustration-editor-desktop.svg");
  }
}

// -----------------------------------------------------------------

// Laptop display depending on screen size

.laptop {
  content: url("/images/illustration-laptop-mobile.svg");
  @include media-breakpoint-up(md) {
    content: url("/images/illustration-laptop-desktop.svg");
  }
}
